<footer class="container-fluid">
  <div class="footer-container">
    <div class="row justify-content-end align-items-center">
      <div class="col-12 col-lg-7 pt-4 pb-4 pt-lg-5 pb-lg-5 footer-border">
        <div class="row justify-content-between align-items-start">
          <div class="col-lg-6 p-0">
            <ul class="p-0 p-lg-0 text-center text-lg-start ">
              <li class="main-color fs-2 fw-bold"><i
                  class="fa-solid fa-envelope me-4"></i><span>info&#64;oliveto-ksa.com</span>
              </li>
              <li class="main-color fs-2 fw-bold"><i class="fa-solid fa-phone me-4"></i><span>+966552202041</span></li>
              <li class="main-color fs-2 fw-bold"><i class="fa-solid fa-phone me-4"></i><span>0114150028</span></li>
            </ul>
          </div>
          <div class="col-lg-6 p-0">
            <div class="footer-location">
              <li class="text-center text-lg-end main-color fs-2 fw-bold">
                . ظهرة لبن - شارع عسير - الرياض
                <i class="fa-solid fa-location-dot ms-1 ms-lg-2"></i>
              </li>
            </div>
            <div
              class="footer-socials d-flex justify-content-center justify-content-lg-end align-items-center mt-2 mt-lg-4">
              <ul class="d-flex justify-content-center justify-content-lg-end p-0">
                <a href="https://twitter.com/Olivetoksa" class="text-decoration-none" target="_blank">
                  <li class="mx-2"><i class="fa-brands fa-twitter"></i></li>
                </a>
                <a href="https://www.instagram.com/olivetoksa/" class="text-decoration-none" target="_blank">
                  <li class="mx-2"><i class="fa-brands fa-instagram"></i></li>
                </a>
                <a href="https://www.tiktok.com/@olivetoksa" class="text-decoration-none" target="_blank">
                  <li class="mx-2"><i class="fa-brands fa-tiktok"></i></li>
                </a>
                <a href="https://www.facebook.com/olivetox/" class="text-decoration-none" target="_blank">
                  <li class="mx-2"><i class="fa-brands fa-facebook-f"></i></li>
                </a>
                <a href="https://wa.me/+966552202041" class="text-decoration-none" target="_blank">
                  <li class="mx-2"><i class="fa-brands fa-whatsapp"></i></li>
                </a>
                <a href="https://www.snapchat.com/add/olivetoksa" class="text-decoration-none" target="_blank">
                  <li class="mx-2"><i class="fa-brands fa-snapchat"></i></li>
                </a>
              </ul>

            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="footer-img text-center mt-2 mt-lg-0">
          <img class="img-fluid" src="assets/logo1.png" alt="مطعم أوليفيتو ظهرة لبن" width="80%">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom py-3">
    <div class="row">
      <div class="col">
        <p class="text-center main-color copy-right-p">Copyright 2023 All Right Reserved</p>
      </div>
    </div>
  </div>
</footer>
