<section class="custom-section section-padding">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-start">
      <div class="col-lg-6 p-md-0 p-sm-0" style="padding-right: 0 !important; padding-left: 0 !important">
        <div class="img-container text-center text-lg-start text-md-center">
          <img [src]="imgsrc" alt="مطعم أوليفيتو ظهرة لبن" class="img-fluid text-start" loading="lazy">
        </div>
      </div>
      
      <div class="col-lg-6 order-md-2">
        <div class="row justify-content-center align-items-center align-items-md-start">
          <div class="col-12 col-lg-10 col-xl-9  px-md-5 px-lg-0">
            <div class="section-content text-center text-lg-end" dir="rtl">
              <div class="">
                <h2 class="fw-bolder main-color mt-3 mt-lg-0 mb-3 mb-lg-3 mb-xl-4 section-title">
                  {{ sectionTitle }}
                </h2>
              </div>
              <p class="fw-bold sec-text-color px-1" [style.color]="sectionDescColor"
                [style.fontSize.px]="sectionDescSize" [ngClass]="customFontClass?'font-s':'font-l'">
                {{ sectionDesc }}
              </p>
              <ng-content select="[button]"></ng-content>
              <ng-content select="[working]"></ng-content>
            </div>
          </div>
          <div class="col-3 col-lg-2 col-xl-3 p-0 d-none d-lg-block">
            <div class="section-line w-100 bg-main-color  mt-lg-3 mt-xxl-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
