<div id="infiniteSlider" class="text-wrapper-container">
  <div class="text-wrapper d-flex justify-content-start overflow-hidden ">
    <h3>!نحن في انتظاركم في مطعمنا في ظهرة لبن. تفضلوا بزيارتنا واستمتعوا بأشهى الأطباق وأفضل الخدمات</h3>
    <h3>!نحن في انتظاركم في مطعمنا في ظهرة لبن. تفضلوا بزيارتنا واستمتعوا بأشهى الأطباق وأفضل الخدمات</h3>
    <h3>!نحن في انتظاركم في مطعمنا في ظهرة لبن. تفضلوا بزيارتنا واستمتعوا بأشهى الأطباق وأفضل الخدمات</h3>
    <h3>!نحن في انتظاركم في مطعمنا في ظهرة لبن. تفضلوا بزيارتنا واستمتعوا بأشهى الأطباق وأفضل الخدمات</h3>
    <h3>!نحن في انتظاركم في مطعمنا في ظهرة لبن. تفضلوا بزيارتنا واستمتعوا بأشهى الأطباق وأفضل الخدمات</h3>
  </div>
</div>
