<section class="working-hours d-flex justify-content-center align-items-center my-5">
  <div class="container">
    <div class="row justify-content-center justify-content-md-end align-items-center">
      <div class="col-12 ">
        <div class="working-hours-content py-2 px-1" [ngClass]="customClass?'gray':'white'">
          <h3 class="text-center" [style.color]="sectionDescColor">طوال أيام الأسبوع : من الثالثة مساءً - الثانية صباحاً
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
