<section id="menuTable" class="menu-table section-padding">
  <app-section-title title="قائمة الطعام"></app-section-title>

  <div class="container-fluid" dir="rtl">
    <div class="row justify-content-center align-items-start justify-content-md-start justify-content-xxl-center">

      <div class="col-md-6 col-lg-6 col-xl-4 p-4 pt-4 pb-5 normal-section" *ngFor="let category of categoryList.slice(0, 3); let i = index"
        [class.menu-border]="i === 1">
        <div class="container">
          <div class="row justify-content-around align-items-center mb-2 mb-md-5">
            <div class="col-3"></div>
            <ng-container *ngIf="category.products[i]?.min_price && category.products[i]?.max_price">
              <div class="col-2 person-kilo text-center">
                النفر
              </div>
              <div class="col-2 person-kilo text-center">
                الكيلو
              </div>
            </ng-container>
            <ng-container *ngIf="!category.products[i]?.min_price && !category.products[i]?.max_price">
              <div class="col-2 person-kilo text-center">
                السعر
              </div>
            </ng-container>


            <div class="col-2 person-kilo" *ngIf="!category.products[i]?.min_price && !category.products[i]?.max_price">
            </div>
          </div>
          <div class="row justify-content-around align-items-center mb-3" *ngFor="let product of category.products.slice(0, 5);">
            <div class="col-5 ps-0">
              <div class="item-container">
                <h3 class="mb-0">{{ product?.name }}</h3>
                <span class="calories">{{ product?.calories }} سعرة حرارية</span>
              </div>
            </div>
            <div class="col-2 overflow-hidden px-0 main-color">................................
            </div>

            <ng-container *ngIf="product?.min_price || product?.max_price">
              <div class="col-2 text-center" *ngIf="product.min_price">
                <span class="person-kilo">{{ product?.min_price }}</span>
              </div>

              <div class="col-2 text-center" *ngIf="product.max_price">
                <span class="person-kilo">{{ product?.max_price }}</span>
              </div>
            </ng-container>

            <ng-container *ngIf="!product?.max_price && !product?.min_price">
              <div class="col-2 text-center">
                <span class="person-kilo">{{ product?.medium_price }}</span>
              </div>
              <div class="col-2 text-center">
                <span class="person-kilo"></span>
              </div>
            </ng-container>

          </div>
        </div>

      </div>

      <!-- <div class="col-md-6 col-lg-6 col-xl-4" *ngFor="let category of categoryList.slice(0, 3); let i = index"
        [class.menu-border]="i === 1">
        <table class="table table-borderless text-center">
          <thead>
            <tr>
              <th scope="col"></th>
              <ng-container *ngIf="category.products[i]?.min_price && category.products[i]?.max_price">
                <th scope="col">النفر</th>
                <th scope="col">الكيلو</th>
              </ng-container>
              <ng-container
                *ngIf="!category.products[i]?.min_price && !category.products[i]?.max_price && category.products[i]?.medium_price">
                <th scope="col">السعر</th>
              </ng-container>
              <ng-container *ngIf="!category.products[i]?.min_price && !category.products[i]?.max_price && !category.products[i]?.medium_price">
                <th scope="col"></th>
              </ng-container>

            </tr>
          </thead>
          <tbody *ngFor="let product of category.products">
            <tr>
              <th scope="row">{{ product.name }}</th>
              <ng-container *ngIf="product?.min_price || product?.max_price">
                <td>{{ product?.min_price }}</td>
                <td>{{ product?.max_price }}</td>
              </ng-container>
              <ng-container *ngIf="!product?.max_price && !product?.min_price">
                <td>{{ product?.medium_price }}</td>
              </ng-container>

            </tr>
          </tbody>
        </table>
      </div> -->

    </div>

    <div class="row mt-lg-3 text-center">
      <app-border-button [buttonName]="'المزيد'" [centered]="true" (routerLinkAction)="navigateTo()">
      </app-border-button>
    </div>

  </div>
</section>
