<form [formGroup]="contactForm" role="group" class="mb-4 mb-lg-0" dir="rtl" id="contactForm"
  (ngSubmit)="formSubmit(contactForm)">
  <div class="row">

    <div class="col-md-6 form-group mb-4">
      <input type="text" class="form-control" placeholder="الإسم" name="name" id="name" aria-label="الإسم"
        formControlName="name">
      <ng-container *ngIf="name?.touched || formSubmited">
        <div class="text-danger mb-2" *ngIf="name?.errors?.['required']">
          <img loading="lazy" class="ms-2 mb-1" src="assets/invalid.svg" width="16" height="16"
            alt="invalid data icon" />
          الإسم بالكامل مطلوب
        </div>
        <div class="text-danger mb-2" *ngIf="name?.errors?.['minlength']">
          <img loading="lazy" class="ms-2 mb-1" src="assets/invalid.svg" width="16" height="16"
            alt="invalid data icon" />
          الإسم بالكامل يجب ألا يقل عن 3 احرف </div>
      </ng-container>
    </div>
    <div class="col-md-6 form-group mb-4">
      <input type="text" class="form-control" placeholder="الإيميل" name="email" id="email" aria-label="الإيميل"
        formControlName="email">
      <ng-container *ngIf="email?.['touched'] || formSubmited">
        <div class="text-danger mb-2" *ngIf="email?.errors?.['required']">
          <img loading="lazy" class="ms-2 mb-1" src="assets/invalid.svg" width="16" height="16"
            alt="invalid data icon" />
          البريد الإلكترونى مطلوب
        </div>
        <div class="text-danger mb-2" *ngIf="email?.errors?.['email']">
          <img loading="lazy" class="ms-2 mb-1" src="assets/invalid.svg" width="16" height="16"
            alt="invalid data icon" />
          يجب أن يكون البريد الإلكتروني عنوان بريد إلكتروني صحيح البُنية
        </div>
      </ng-container>
    </div>
    <div class="col-md-12 form-group mb-4">
      <input type="text" class="form-control" placeholder="رقم الجوال" name="phone" id="phone" aria-label="رقم الجوال"
        formControlName="phone" maxlength="15" oninput="this.value =
        this.value.replace(/[^0-9]/g,'')">
      <ng-container *ngIf="phone?.['touched'] || formSubmited">
        <div class="text-danger mb-2" *ngIf="phone?.errors?.['required']">
          <img loading="lazy" class="ms-2 mb-1" src="assets/invalid.svg" width="16" height="16"
            alt="invalid data icon" />
          رقم الجوال مطلوب </div>
      </ng-container>
    </div>
    <div class="form-group col-md-12 mb-4">
      <textarea class="form-control" name="message" placeholder="رسالة" name="message" id="message" aria-label="رسالة"
        rows="5" formControlName="message"></textarea>
      <ng-container *ngIf="message?.['touched'] || formSubmited">
        <div class="text-danger mb-2" *ngIf="message?.errors?.['required']">
          <img loading="lazy" class="ms-2 mb-1" src="assets/invalid.svg" width="16" height="16"
            alt="invalid data icon" />
          حقل الرسالة مطلوب </div>
      </ng-container>
    </div>
    <div class="col-md-12 form-group mb-4">
      <div class="d-flex justify-content-between align-items-center form-control p-0">
        <div style="" class="file-label">
          <label for="file" class="custom-file-upload">
            إرفاق ملف
            <input name="file" type="file" dir="rtl" style="display: none" id="file" accept=".jpg, .jpeg, .png , .heic"
              (change)="onFileSelected($event)" aria-label="إرسال ملف" placeholder="إرفاق ملف" />
            <i class="fa-solid fa-upload me-1"></i>
          </label>
        </div>
        <span *ngIf="selectedFile" class="custom-file-span">
          {{ selectedFile.name }}
        </span>
      </div>
      <ng-container>
        <span style="color: var(--Main-Sec-Brand-Color); font-size: 15px;">إرفاق الملف إختيارى*</span>
      </ng-container>
    </div>

  </div>


  <div class="col-md-12 mt-3 text-center text-lg-start">
    <app-normal-button [buttonName]="'تواصل معنا'" [buttonBackgroundColor]="'#e75e25'" [buttonType]="'submit'">
    </app-normal-button>
  </div>
</form>
